@page "/venues/edit"
@using Microsoft.EntityFrameworkCore
@using HealthIsWealth.Domain
@inject IDbContextFactory<HealthIsWealth.Data.HealthIsWealthContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Venue</h2>
<hr />
@if (Venue is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Venue" OnValidSubmit="UpdateVenue" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Venue.VenueId" value="@Venue.VenueId" />
                <div class="mb-3">
                    <label for="address" class="form-label">Address:</label>
                    <InputText id="address" @bind-Value="Venue.Address" class="form-control" />
                    <ValidationMessage For="() => Venue.Address" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="postalcode" class="form-label">PostalCode:</label>
                    <InputText id="postalcode" @bind-Value="Venue.PostalCode" class="form-control" />
                    <ValidationMessage For="() => Venue.PostalCode" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="unitnumber" class="form-label">UnitNumber:</label>
                    <InputText id="unitnumber" @bind-Value="Venue.UnitNumber" class="form-control" />
                    <ValidationMessage For="() => Venue.UnitNumber" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/venues">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int VenueId { get; set; }

    [SupplyParameterFromForm]
    private Venue? Venue { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Venue ??= await context.Venue.FirstOrDefaultAsync(m => m.VenueId == VenueId);

        if (Venue is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateVenue()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Venue!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!VenueExists(Venue!.VenueId))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/venues");
    }

    private bool VenueExists(int venueid)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Venue.Any(e => e.VenueId == venueid);
    }
}
