@page "/facilities/create"
@using Microsoft.EntityFrameworkCore
@using HealthIsWealth.DatabaseTables
@inject IDbContextFactory<HealthIsWealth.Data.HealthIsWealthContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Facility</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Facility" OnValidSubmit="AddFacility" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="name" class="form-label">Name:</label> 
                <InputText id="name" @bind-Value="Facility.Name" class="form-control" /> 
                <ValidationMessage For="() => Facility.Name" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="location" class="form-label">Location:</label> 
                <InputText id="location" @bind-Value="Facility.Location" class="form-control" /> 
                <ValidationMessage For="() => Facility.Location" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="venueid" class="form-label">VenueID:</label> 
                <InputNumber id="venueid" @bind-Value="Facility.VenueID" class="form-control" /> 
                <ValidationMessage For="() => Facility.VenueID" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/facilities">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private Facility Facility { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddFacility()
    {
        using var context = DbFactory.CreateDbContext();
        context.Facility.Add(Facility);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/facilities");
    }
}
