@page "/venues/create"
@using Microsoft.EntityFrameworkCore
@using HealthIsWealth.DatabaseTables
@inject IDbContextFactory<HealthIsWealth.Data.HealthIsWealthContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Venue</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Venue" OnValidSubmit="AddVenue" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="address" class="form-label">Address:</label> 
                <InputText id="address" @bind-Value="Venue.Address" class="form-control" /> 
                <ValidationMessage For="() => Venue.Address" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="postalcode" class="form-label">PostalCode:</label> 
                <InputNumber id="postalcode" @bind-Value="Venue.PostalCode" class="form-control" /> 
                <ValidationMessage For="() => Venue.PostalCode" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="unitnumber" class="form-label">UnitNumber:</label> 
                <InputNumber id="unitnumber" @bind-Value="Venue.UnitNumber" class="form-control" /> 
                <ValidationMessage For="() => Venue.UnitNumber" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="price" class="form-label">Price:</label> 
                <InputNumber id="price" @bind-Value="Venue.Price" class="form-control" /> 
                <ValidationMessage For="() => Venue.Price" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/venues">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private Venue Venue { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddVenue()
    {
        using var context = DbFactory.CreateDbContext();
        context.Venue.Add(Venue);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/venues");
    }
}
