@page "/venues"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using HealthIsWealth.DatabaseTables
@using HealthIsWealth.Data
@implements IAsyncDisposable
@inject IDbContextFactory<HealthIsWealth.Data.HealthIsWealthContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="venues/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Venue">
    <PropertyColumn Property="venue => venue.Address" />
    <PropertyColumn Property="venue => venue.PostalCode" />
    <PropertyColumn Property="venue => venue.UnitNumber" />
    <PropertyColumn Property="venue => venue.Price" />

    <TemplateColumn Context="venue">
        <a href="@($"venues/edit?venueid={venue.VenueID}")">Edit</a> |
        <a href="@($"venues/details?venueid={venue.VenueID}")">Details</a> |
        <a href="@($"venues/delete?venueid={venue.VenueID}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private HealthIsWealthContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
